.container .toggle .card{
    display: block;
}
.container .toggle2 .mensaje{
    display: none;
}
.toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
    color: #0075d3;
    cursor: hand;
}

.container .toggle span {
    letter-spacing: 1px;
}

.container .card{
display: none;

}
.mensaje2{
	font-size: 3em;
}
.formulario1{
display: none;
}
.formulario_input,.formulario_label{
display: block;
width: 100%;
font-size: 1.1em;

}
.formulario_btn{
	border: none;
	width: 350px;
	display: block;
	font-family: sans-serif;
	background: linear-gradient(50deg,#0075d9,#65ff7b,#fbd72d);
	padding: 20px 20px;
	text-align: center;
	margin:auto;
	color: rgba(0,0,0,0.7);
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: all 300ms;
}
.formulario_btn:hover{
	transform: translateY(10px);
	box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
.formulario_input{
    padding: 20px;
    margin-bottom: -40px;
    background: transparent;
}
.formulario_input:focus + .formulario_label{
margin-top: -30px;
}
.formulario_label{
    padding-left: 40px;
    position: absolute;
    margin-top: 8px;
    z-index: -20;
    color: rgba(0,0,0,0.6);
    transition: all 0.2s;
}
.fijar{
    margin-top: -30px;
}


=======
.container .mensaje{
    display: block;
}

.container .mensaje{
    display: block;
}
