* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/**.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}*/
.card{
   
}

.container .toggle .card{
    display: block;
 }
}

.container .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.container .toggle span {
    letter-spacing: 1px;
}




.container button {
  
    transition: all .5s ease;
}

.container button:hover {
    background: #007766
}

.container .card{
display: none;
}



