.container .toggle .card{
    display: block;
}
.container .toggle2 .mensaje{
    display: none;
}
.toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
    color: #0075d3;
    cursor: hand;
}

.container .toggle span {
    letter-spacing: 1px;
}

.container .card{
display: none;

}
.mensaje2{
	font-size: 3em;
}
.formulario1{
display: none;
}
<<<<<<< HEAD
<<<<<<< HEAD

.formulario_input,.formulario_label,.formulario_btn{
display: block;
width: 100%;
font-size: 1.1em;

}
.formulario_input{
    padding: 20px;
    margin-bottom: -40px;
    background: transparent;
}
.formulario_input:focus + .formulario_label{
margin-top: -30px;
}
.formulario_label{
    padding-left: 40px;
    position: absolute;
    margin-top: 8px;
    z-index: -20;
    color: rgba(0,0,0,0.6);
    transition: all 0.2s;
}
.fijar{
    margin-top: -30px;
}


=======
.container .mensaje{
    display: block;
}
>>>>>>> a6e9869529daada6cbd6d604f20e17e03974f1b5
=======


.container .mensaje{
    display: block;
}
>>>>>>> a6e9869529daada6cbd6d604f20e17e03974f1b5
